In [3]:
#data science stuff
import numpy as np
import pandas as pd

#requests
import requests
%run sheetsAPI.ipynb

google sheets authentication success

In [11]:
# Function: readMaps
# Read in sheet of map_ids, replace nulls with 0s, and convert ids to str
# params: filepath - str of the path to the sheet of map_ids
# return: a df of map_ids converted to str
def readMaps(maps_spreadsheetId):
    range_ = 'Sheet1!A1:Z1000'
    
    request = service.spreadsheets().values().get(spreadsheetId=maps_spreadsheetId, range=range_)
    response = request.execute()
    df = pd.DataFrame(response['values'],columns=response['values'][0])
    df = df.drop(0)

    return df
readMaps('1zMZ0xfKofUBavIjRk0lHUYvcLaZipW8iw4srr9-Hcb0')

,Group Stage,Group Stage Mods,Round of 32,Round of 32 Mods,Round of 16,Round of 16 Mods,Quarterfinals,Quarterfinals Mods,Semifinals,Semifinals Mods,Finals,Finals Mods
1,30485,0,78049,0,72516,0,80649,0,74652,0,116279,0
2,42273,0,18899,0,47837,0,39052,0,103102,0,106050,0
3,124701,0,78239,0,22422,0,68624,0,40202,0,81560,0
4,65019,0,93086,0,48689,0,36134,0,99094,0,49206,0
5,73514,8,120461,0,39298,0,72419,0,60858,0,37658,0
6,119803,8,47930,0,93962,0,41823,0,22507,0,54373,0
7,54231,16,102016,8,30726,8,19363,8,72783,8,31279,8
8,38581,16,36994,8,96523,8,93021,8,17459,8,102441,8
9,3671,64,121216,16,27368,16,79856,16,33736,16,29965,8
10,27849,64,30321,16,93957,16,25459,16,64665,16,31838,16
11,1562,2,47913,64,44963,64,71744,64,61385,64,28025,16
12,34077,1024,107035,64,20843,64,61840,64,32659,64,96587,16
13,113592,-1,21329,2,35837,2,73494,2,44400,2,46401,64
14,,,7879,2,3556,2,80028,2,66684,2,28906,64
15,,,15358,1024,32753,1024,24438,1024,31413,1024,193,64
16,,,17390,1024,48013,1024,53043,1024,24902,1024,45211,2
17,,,72190,-1,112158,-1,38500,-1,21010,-1,24428,2
18,,,,,,,,,,,52788,1024
19,,,,,,,,,,,21677,1024
20,,,,,,,,,,,63804,-1