In [249]:
#data science stuff
import numpy as np
import pandas as pd
import configparser
config = configparser.ConfigParser()
config.read('config.INI')

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

%run readTeams.ipynb
%run readMaps.ipynb
%run osuApiRequests.ipynb
%run processMP.ipynb
%run createLeaderboard.ipynb

#requests
import requests
print("dab")

dab

Sources of help:

https://stackoverflow.com/questions/509211/understanding-pythons-slice-notation
https://pandas.pydata.org/pandas-docs/stable/indexing.html
https://stackoverflow.com/questions/21468194/how-to-remove-all-matches-in-a-python-list
https://stackoverflow.com/questions/209840/convert-two-lists-into-a-dictionary-in-python
https://stackoverflow.com/questions/6612769/is-there-a-more-elegant-way-for-unpacking-keys-and-values-of-a-dictionary-into-t

In [71]:
map_ids = readMaps('./Starter Sheets/Maps2.xlsx') 
labels = list(map_ids)
stages = labels[0::2]
print(map_ids.iloc[:, 0].tolist())

for i in np.arange(0, len(labels), 2):
    map_mods = map_ids.iloc[:, i:i+2] #df.loc[row_indexer,column_indexer]
    print(map_mods)
    print(map_mods.iloc[:, 0].tolist())

#for i in np.arange(2):
    #map_mods = map_ids[0:2]
    #print(map_mods)
    #del map_ids[0:2]

['30485', '42273', '124701', '65019', '73514', '119803', '54231', '38581', '3671', '27849', '1562', '34077', '113592', '0', '0', '0', '0', '0', '0', '0', '0', '0']
   Group Stage  Type
0        30485     0
1        42273     0
2       124701     0
3        65019     0
4        73514     8
5       119803     8
6        54231    16
7        38581    16
8         3671    64
9        27849    64
10        1562     2
11       34077  1024
12      113592     0
13           0     0
14           0     0
15           0     0
16           0     0
17           0     0
18           0     0
19           0     0
20           0     0
21           0     0
['30485', '42273', '124701', '65019', '73514', '119803', '54231', '38581', '3671', '27849', '1562', '34077', '113592', '0', '0', '0', '0', '0', '0', '0', '0', '0']
      RO32 Type.1
0    78049      0
1    18899      0
2    78239      0
3    93086      0
4   120461      0
5    47930      0
6   102016      8
7    36994      8
8   121216     16
9    30321     16
10   47913     64
11  107035     64
12   21329      2
13    7879      2
14   15358   1024
15   17390   1024
16   72190      0
17       0      0
18       0      0
19       0      0
20       0      0
21       0      0
['78049', '18899', '78239', '93086', '120461', '47930', '102016', '36994', '121216', '30321', '47913', '107035', '21329', '7879', '15358', '17390', '72190', '0', '0', '0', '0', '0']

In [119]:
#useless
map_ids = readMaps('./Starter Sheets/Maps2.xlsx') 
labels = list(map_ids)
stages = labels[0::2]
stage_idx = 0

map_played = '34077'
map_ids_in_stage = map_ids.iloc[:, stage_idx:stage_idx+2]
map_ids_in_stage.loc[
    map_ids_in_stage.iloc[:, 0].str.contains(map_played, case=False)
].iloc[:, 1].reset_index(drop=True)[0]

'1024'

In [130]:
#getting the mods column of all_maps
all_maps = readMaps('./Starter Sheets/Maps2.xlsx') 
labels = list(map_ids)
stages = labels[0::2]
stage_idx = 0

maps_in_stage_df = all_maps.iloc[:, stage_idx:stage_idx+2]
mods = maps_in_stage_df.iloc[:, 1].tolist() 
mods = [mod for mod in mods if mod != '-1']
print(mods)

map_ids_in_stage = maps_in_stage_df.iloc[:, 0].tolist()
map_ids_in_stage = [map_id for map_id in map_ids_in_stage if map_id != '-1']
print(map_ids_in_stage)

mod_for_each_map = dict(zip(map_ids_in_stage, mods))
print(mod_for_each_map)

['0', '0', '0', '0', '8', '8', '16', '16', '64', '64', '2', '1024', '0']
['30485', '42273', '124701', '65019', '73514', '119803', '54231', '38581', '3671', '27849', '1562', '34077', '113592']
{'30485': '0', '42273': '0', '124701': '0', '65019': '0', '73514': '8', '119803': '8', '54231': '16', '38581': '16', '3671': '64', '27849': '64', '1562': '2', '34077': '1024', '113592': '0'}

In [121]:
def testCalculateAcc():
    #normal case
    response = get_match('45234409')
    map_idx = 0
    player_idx = 0
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateAcc(response['games'][map_idx]['scores'][player_idx])
    print(ret)
    print("Passed!" if ret == 89.26 else "Failed!")
    print("----------------------")
    
    #unfinished map case
    response = get_match('46157348')
    map_idx = 7
    player_idx = 2
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateAcc(response['games'][map_idx]['scores'][player_idx])
    print(ret)
    print("Passed!" if ret == 95.67 else "Failed!")
    print("----------------------")
    
testCalculateAcc()

166781
89.26
Passed!
----------------------
308912
95.67
Passed!
----------------------

In [4]:
#testing calculateRank
def testCalculateRank():
    #nonfailing grade (U)
    response = get_match('46870344')
    map_idx = 3
    player_idx = 3
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateRank(response['games'][map_idx]['scores'][player_idx], '52788')
    print(ret)
    print("Passed!" if ret == "B (U)" else "Failed!")
    print("----------------------")
    
    #failing grade
    response = get_match('45234409')
    map_idx = 0
    player_idx = 0
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateRank(response['games'][map_idx]['scores'][player_idx], '73514')
    print(ret)
    print("Passed!" if ret == "F" else "Failed!")
    print("----------------------")
    
    #nonfailing grade (U)
    response = get_match('46157348')
    map_idx = 7
    player_idx = 3
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateRank(response['games'][map_idx]['scores'][player_idx], '24438')
    print(ret)
    print("Passed!" if ret == "A (U)" else "Failed!")
    print("----------------------")
    
    #S grade
    response = get_match('46157348')
    map_idx = 5
    player_idx = 3
    print(response['games'][map_idx]['scores'][player_idx]['score'])
    ret = calculateRank(response['games'][map_idx]['scores'][player_idx], '73494')
    print(ret)
    print("Passed!" if ret == "S" else "Failed!")
    print("----------------------")
    
testCalculateRank()

349727
B (U)
Passed!
----------------------
166781
F
Passed!
----------------------
199369
A (U)
Passed!
----------------------
495638
S
Passed!
----------------------

In [146]:
fruits = ['apple', 'orange', 'banana']
opinion = ['yum', 'sweet', 'NO']
zipped = dict(zip(fruits, opinion))
print(zipped)
list(zipped.values())

{'apple': 'yum', 'orange': 'sweet', 'banana': 'NO'}

['yum', 'sweet', 'NO']

In [176]:
df = pd.DataFrame(columns=['A', 'B'])
test_row = {'A': 5, 'B': 6}
df = df.append(test_row, ignore_index = True)
df

   A  B
0  5  6

In [251]:
mp_id = '45234409'

test_map_id = '73514'
leaderboards_in_stage = {}
leaderboards_in_stage[test_map_id] = createLeaderboard(test_map_id, True)
#good

is_team_tourney = True

map_counts_in_stage = {}
map_counts_in_stage[test_map_id] = 0

teams = readTeams('./Starter Sheets/Teams.xlsx')

desired_scoring_type = '3'

mods_for_each_map = {}
mods_for_each_map[test_map_id] = '8'

processMP(mp_id, leaderboards_in_stage, map_counts_in_stage, 
                  is_team_tourney, teams, desired_scoring_type, 
                  mods_for_each_map)  
leaderboards_in_stage[test_map_id]['scores']

i: 0
   j: 0
sans undertale
[{'#': 1, 'Player': 'sans undertale', 'Team': '', 'Rank': 'F', 'Score': '166781', 'Combo': '105', 'Accuracy': 89.26, 'Mods': '8', 'Match': 'https://osu.ppy.sh/community/matches/45234409'}]
73514
   j: 1
Entropy
[{'#': 2, 'Player': 'Entropy', 'Team': 'egagegsgaggagaha', 'Rank': 'B', 'Score': '257320', 'Combo': '234', 'Accuracy': 91.68, 'Mods': '8', 'Match': 'https://osu.ppy.sh/community/matches/45234409'}]
73514
   j: 2
-Mo-
[{'#': 3, 'Player': '-Mo-', 'Team': 'ErogeIsBest', 'Rank': 'S', 'Score': '1047169', 'Combo': '771', 'Accuracy': 99.63, 'Mods': '8', 'Match': 'https://osu.ppy.sh/community/matches/45234409'}]
73514
   j: 3
Arf
[{'#': 4, 'Player': 'Arf', 'Team': 'ErogeIsBest', 'Rank': 'SS', 'Score': '1062120', 'Combo': '771', 'Accuracy': 100.0, 'Mods': '8', 'Match': 'https://osu.ppy.sh/community/matches/45234409'}]
73514
i: 1
     3rd err
i: 2
     3rd err
i: 3
     3rd err
i: 4
     3rd err

,#,Player,Team,Rank,Score,Combo,Accuracy,Mods,Match
0,1,sans undertale,,F,166781,105,89.26,8,https://osu.ppy.sh/community/matches/45234409
1,2,Entropy,egagegsgaggagaha,B,257320,234,91.68,8,https://osu.ppy.sh/community/matches/45234409
2,3,-Mo-,ErogeIsBest,S,1047169,771,99.63,8,https://osu.ppy.sh/community/matches/45234409
3,4,Arf,ErogeIsBest,SS,1062120,771,100.00,8,https://osu.ppy.sh/community/matches/45234409

In [243]:
test_map_id = '73514'
leaderboards_in_stage = {}
leaderboards_in_stage[test_map_id] = createLeaderboard(test_map_id, True)
print(leaderboards_in_stage[test_map_id]['scores'])

test_row = {
    '#': 0,
    'Player': 'REEE',
    'Rank': 'A',
    'Score': '111555',
    'Combo': '111',
    'Accuracy': 99.45,
    'Mods': '8',
    'Match': 'FUCK'
}
leaderboards_in_stage[test_map_id]['scores'] = leaderboards_in_stage[test_map_id]['scores'].append(test_row, ignore_index = True)

leaderboards_in_stage[test_map_id]['scores']

Empty DataFrame
Columns: [#, Player, Team, Rank, Score, Combo, Accuracy, Mods, Match]
Index: []

   # Player  Team Rank   Score Combo  Accuracy Mods Match
0  0   REEE   NaN    A  111555   111     99.45    8  FUCK

In [ ]:
#create the sheet containing all the leaderboards for stage
path = stage + '.xlsx'
writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
for map_id in leaderboards_in_stage:
    leaderboards_in_stage[map_id]['scores'].to_excel(writer, sheet_name = map_id)
    
writer.save()
writer.close()